@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Manrope:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('/img/icomoon.eot?ccrwap');
    src:  url('/img/icomoon.eot?ccrwap#iefix') format('embedded-opentype'),
      url('/img/icomoon.ttf?ccrwap') format('truetype'),
      url('/img/icomoon.woff?ccrwap') format('woff'),
      url('/img/icomoon.svg?ccrwap#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  


  .icon-close:before {
    content: "\e903";
    color: #fff;
  }
  .icon-email:before {
    content: "\e901";
  }
  .icon-phone:before {
    content: "\e902";
  }
  .icon-menu-burger:before {
    content: "\e900";
    color: #fff;
  }
  