/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/all.scss ***!
  \**************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Manrope:wght@300;400;500;600;700&display=swap);
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/all.scss (1) ***!
  \******************************************************************************************************************/
.btn {
  padding: 18px 36.5px;
  background: #F4B63E;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid #F4B63E;
}
.btn:hover {
  background: none;
  border: 2px solid #F4B63E;
  color: #F4B63E;
}

.fz14px {
  font-size: 15px !important;
}

.mb35px {
  margin-bottom: 35px !important;
}

.mt100px {
  margin-top: 100px !important;
}

@font-face {
  font-family: "icomoon";
  src: url(assets/images/icomoon-2771420567d6464b3d3c.eot);
  src: url(assets/images/icomoon-2771420567d6464b3d3c.eot#iefix) format("embedded-opentype"), url(assets/images/icomoon-1b648d0ebe6587b5b01e.ttf) format("truetype"), url(assets/images/icomoon-d2a83353bcb576372cd2.woff) format("woff"), url(assets/images/icomoon-14e5071881699155f430.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e901";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  color: #231F20;
  background: #FFFFFF;
  font-family: "Inter", sans-serif;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}
html a,
body a {
  text-decoration: none;
  color: #231F20;
}
html li,
body li {
  list-style: none;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.firts {
  background: #F4B63E;
}

.second {
  left: 16.6%;
  background: #F4B63E;
}

.third {
  left: 33.2%;
  background: #F4B63E;
}

.four {
  left: 49.8%;
  background: #F4B63E;
}

.five {
  left: 66.6%;
  background: #F4B63E;
}

.six {
  left: 83.2%;
  background: #F4B63E;
}

.header {
  position: relative;
}
.header__body {
  display: flex;
  flex-direction: column;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 103px;
  height: 100px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/logo-c860d529a0f4318c8772.png);
  margin-right: 124px;
  margin-top: 28px;
}
.header__heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  max-width: 745px;
  margin-right: 69px;
}
.header__info-wrapper {
  display: flex;
  flex-direction: column;
}
.header__info {
  display: flex;
  margin-bottom: 10px;
}
.header__info:last-child {
  margin-bottom: 0;
}
.header__info-icon {
  font-size: 18px;
  margin-right: 10px;
}
.header__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.header__navigation {
  margin-top: 35px;
  display: flex;
}
.header__navigation:before {
  content: "";
  position: absolute;
  left: 0;
  top: 162px;
  width: 100%;
  height: 1px;
  background: #231F20;
}
.header__navigation:after {
  content: "";
  position: absolute;
  left: 0;
  top: 226px;
  width: 100%;
  height: 1px;
  background: #231F20;
}
.header__navigation li {
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.header__navigation a {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: 0.3s ease;
}
.header__navigation a.active {
  color: #F4B63E;
}
.header__navigation a.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  right: 0;
  background: #F4B63E;
  transition: 0.3s ease;
}
.header__navigation a:hover {
  color: #F4B63E;
}
.header__navigation a:hover:before {
  right: auto;
  width: 100%;
  left: 0;
}
.header__navigation a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  right: 0;
  background: #F4B63E;
  transition: 0.3s ease;
}

.home__body {
  margin-top: 80px;
  margin-left: 305px;
  margin-bottom: 60px;
}
.home__block {
  display: flex;
}
.home__block:first-child {
  border-top: 1px solid #231F20;
}
.home__heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  max-width: 305px;
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 22px;
}
.home__slide:nth-child(2) .home__image {
  background: url(assets/images/home-image-02-83651cdd120d43689dff.png);
}
.home__slider-pagination {
  width: 30px;
  height: 30px;
  background: #BC732B;
  border-radius: 50%;
  cursor: pointer;
}
.home__image {
  width: 894px;
  height: 304px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/main-image-e7e604af87d061cd5a87.png);
  margin-bottom: 35px;
  border-radius: 30px;
}
.home__content {
  display: flex;
  flex-direction: column;
}
.home__content:first-child {
  margin-right: 123px;
}
.home__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 590px;
}
.home__content-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.home__block-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #B3B3B3;
  margin-right: 45px;
}
.home__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 18px 53px;
  border-radius: 30px;
  background: #F4B63E;
  cursor: pointer;
}
.home__avatar {
  width: 183px;
  height: 267px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/director-63eaf1f384c053d8a3e5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.home__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.home__role {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B3B3B3;
}

.news__body {
  margin-top: 60px;
  margin-left: 305px;
  margin-bottom: 60px;
}
.news__block {
  border-top: 1px solid #231F20;
}
.news__block-slider {
  margin-bottom: 50px;
}
.news__block-btn {
  display: flex;
  justify-content: space-between;
}
.news__heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}
.news__slider-wrapper {
  display: flex;
}
.news__slide {
  display: flex;
  flex-direction: column;
  border: 2px solid #231F20;
  border-radius: 30px;
  padding-left: 18px;
  min-height: 450px;
  min-height: 450px;
}
.news__slide-image {
  width: 249px;
  height: 153px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/news-image-01-5dfe5c2e423e4b723952.png);
  margin-top: 18px;
}
.news__slide-heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  text-transform: capitalize;
  color: #0B3F2E;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.news__slide-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 30px;
  max-width: 250px;
  margin-right: 18px;
}
.news__slide-date {
  position: absolute;
  bottom: 26px;
  right: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #B3B3B3;
  text-align: right;
}
.news__arrows {
  display: flex;
  align-items: center;
}
.news__arrow-prev {
  cursor: pointer;
  width: 38px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/arrow-news-prev-998b6f57701e0f26252a.png);
  background-repeat: no-repeat;
  margin-right: 20px;
}
.news__arrow-next {
  cursor: pointer;
  width: 38px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/arrow-news-next-e2a64e1c7af7cf771633.png);
  background-repeat: no-repeat;
}
.about__body {
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}
.about__block {
  position: relative;
}
.about__block:first-child {
  margin-right: 21px;
  margin-top: 118px;
}
.about__block:first-child:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  background: #231F20;
  bottom: 0px;
  right: -23px;
}
.about__block:nth-child(2) {
  border-top: 1px solid #231F20;
}
.about__block-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 300px;
}
.about__block-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #F4B63E;
}
.about__block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 20px;
  max-width: 300px;
}
.about__block-text:nth-child(2) {
  margin-bottom: 35px;
  font-size: 1px;
}
.about__block-text:last-child {
  max-width: 215px;
}
.about__heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
}
.about__map {
  border: 1px solid #231F20;
}

.footer {
  background: #231F20;
  margin-top: 60px;
}
.footer * {
  color: #FFFFFF;
}
.footer__body {
  margin-top: 50px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 50px;
  display: flex;
}
.footer__block:nth-child(2) {
  display: flex;
  position: relative;
}
.footer__content {
  margin-right: 203px;
}
.footer__content:nth-child(2) {
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  max-width: 387px;
  font-family: "Manrope", sans-serif;
  margin: 40px 0px;
}
.footer__logo {
  width: 102px;
  height: 100px;
  background: url(assets/images/logo-c860d529a0f4318c8772.png);
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 57px;
}
.footer__info-wrapper {
  margin-bottom: 30px;
}
.footer__info {
  display: flex;
  margin-bottom: 25px;
}
.footer__info:nth-child(2) {
  margin-bottom: 0;
}
.footer__info-icon {
  margin-right: 10px;
}
.footer__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.footer__navigator {
  margin-top: 50px;
}
.footer__navigator:first-child {
  margin-right: 43px;
}
.footer__navigator li {
  margin-bottom: 10px;
}
.footer__navigator a {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: 0.3s ease;
}
.footer__navigator a:hover {
  color: #F4B63E;
}
.footer__navigator a:hover:before {
  right: auto;
  width: 100%;
  left: 0;
}
.footer__navigator a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  right: 0;
  background: #F4B63E;
  transition: 0.3s ease;
}
.footer__copyright {
  position: absolute;
  bottom: 50px;
  left: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-transform: capitalize;
  color: #B3B3B3;
}
.footer__form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 139px;
  width: 63%;
}
.footer__form input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 26px;
}
.footer__form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #E3E2E0;
  font-family: "Manrope", sans-serif;
}
.footer__form textarea {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 45px;
  min-height: 50px;
  height: 75px;
  max-height: 100px;
  resize: vertical;
}
.footer__form textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #E3E2E0;
  font-family: "Manrope", sans-serif;
}
.footer__form button {
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  font-family: "Manrope", sans-serif;
  color: #F4B63E;
  position: relative;
  cursor: pointer;
  width: 135px;
  margin-left: 95px;
  transition: 0.3s ease;
}
.footer__form button:hover {
  color: #FFFFFF;
}
.footer__form button:hover:before {
  left: auto;
  width: 0%;
  right: 0;
  background: #FFFFFF;
}
.footer__form button:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background: #F4B63E;
  transition: 0.3s ease;
}

.news-block__body {
  margin-top: 80px;
  margin-left: 305px;
  margin-bottom: 100px;
}
.news-block__item-wrapper {
  border-top: 1px solid #231F20;
}
.news-block__item {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #231F20;
}
.news-block__item-image {
  width: 250px;
  height: 153px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/news-image-01-5dfe5c2e423e4b723952.png);
  margin-top: 20px;
  margin-bottom: 20px;
}
.news-block__item-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Manrope", sans-serif;
  max-width: 580px;
}
.news-block__item-descriptions {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  max-width: 580px;
}
.news-block__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 580px;
  margin-bottom: 30px;
}
.news-block__item-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #B3B3B3;
  font-family: "Manrope", sans-serif;
  margin-bottom: 35px;
}
.news-block__item-btn {
  margin-left: 490px;
  margin-bottom: 40px;
}

.contact__body {
  margin-top: 200px;
  margin-bottom: 100px;
}
.contact__block {
  display: flex;
  border-top: 1px solid #231F20;
  padding-top: 20px;
  margin-bottom: 140px;
}
.contact__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  margin-right: 360px;
  max-width: 250px;
}
.contact__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #B3B3B3;
  max-width: 281px;
}
.contact__content {
  display: flex;
}
.contact__image {
  width: 407px;
  height: 485px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(assets/images/contact-image-d7ac413b1de80eca871b.jpg);
  margin-right: 203px;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form input {
  border: none;
  background: none;
  outline: none;
  border: 2px solid #231F20;
  padding: 23px 0px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #B3B3B3;
  font-family: "Manrope", sans-serif;
  padding-left: 20px;
}
.contact__form input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #B3B3B3;
  font-family: "Manrope", sans-serif;
}
.contact__form textarea {
  border: none;
  background: none;
  outline: none;
  border: 2px solid #231F20;
  padding: 23px 0px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #B3B3B3;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}
.contact__form textarea::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #B3B3B3;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #B3B3B3;
  font-family: "Manrope", sans-serif;
}
.contact__form button {
  margin-left: 390px;
}
.contact__form-wrapper {
  display: flex;
}
.contact__form-wrapper input {
  width: 100%;
}
.contact__form-wrapper input:first-child {
  margin-right: 19px;
}
.contact__form-conf {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #B3B3B3;
  margin-bottom: 40px;
}

.documents__body {
  margin-top: 100px;
  margin-left: 305px;
}
.documents__block {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid #231F20;
  margin-bottom: 40px;
}
.documents__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
}
.documents__item-wrapper {
  display: flex;
  flex-direction: column;
}
.documents__item-names {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #231F20;
}
.documents__item-names-date {
  margin-right: 160px;
}
.documents__item-names-type {
  margin-right: 303px;
}
.documents__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #231F20;
  position: relative;
}
.documents__item-date {
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  margin-right: 73px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.documents__item-type {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-right: 50px;
  max-width: 270px;
}
.documents__item-title {
  position: absolute;
  left: 539px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  margin-right: 160px;
}
.documents__item-btn {
  position: absolute;
  right: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #231F20;
  transition: 0.3s ease;
}
.documents__item-btn:hover {
  color: #F4B63E;
}

.reestr__body {
  margin-top: 200px;
  margin-left: 305px;
  margin-bottom: 150px;
}
.reestr__block {
  display: flex;
  border-top: 1px solid #231F20;
  padding-top: 20px;
  margin-bottom: 82px;
}
.reestr__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
}
.reestr__item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #231F20;
}
.reestr__item:first-child {
  border-top: 1px solid #231F20;
}
.reestr__item:nth-child(5) .reestr__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.reestr__item:nth-child(6) {
  margin-top: 74px;
  padding-bottom: 74px;
}
.reestr__item:nth-child(6) .reestr__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.reestr__item:nth-child(7) {
  margin-top: 60px;
  padding-bottom: 60px;
}
.reestr__item:nth-child(8) {
  margin-top: 40px;
  padding-bottom: 40px;
}
.reestr__item-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  max-width: 400px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.reestr__text {
  position: absolute;
  left: 508px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  max-width: 385px;
}
/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/swiper/swiper.min.css ***!
  \*****************************************************************************************************************************/
/**
 * Swiper 8.1.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 24, 2022
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}
